@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive;
}

/* SEPERATION LINE */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 100px;
  margin-left: 30px;
}

/* LOGO */

.logo {
  margin-left: 20px;
  margin-top: 10px;
}

.logo:hover {
  cursor: pointer;
}

.logo img {
  height: 100px;
  width: 100px;
}

 .order-details-headline, .on-delivery  {
  border: solid 1px rgb(192, 192, 192);
  margin-bottom: 15px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(155, 155, 163, 1);
  -moz-box-shadow: 0px 2px 8px 0px rgba(155, 155, 163, 1);
  box-shadow: 0px 2px 8px 0px rgba(155, 155, 163, 1);
  background-color: rgba(255, 255, 255, 0.7);
}

.customerName {
  text-align: left;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
  /* background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 70px;
  font-family: arial, helvetica;
  width: 600px;
  margin: 50px auto;
  text-align: center; */
}

.user-name {
  margin-bottom: 20px;
}

.name-headline {
  font-size: 25px;
  letter-spacing: 1.5px;
}

/* status-order */
/* .orderStatus {
  margin: 20px 0;
  font-size: 20px;
} */

/* status-bar */

.status-bar li, .icon-motor li {
  list-style: none;
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
}
.icon-motor {
  /* height: 30px;; */
}

.icon-motor li.active1::before{
  font-family: FontAwesome;
  content: "\f21c";
}
.icon-motor li::before {
  content: '';
  width: 10px;
  height: 10px;
  line-height: 10px;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: white;
}

.status-bar li::before {
  content: '';
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}

.status-bar li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.status-bar li:first-child::after {
  content: none;
}

.status-bar li.active {
  color: #df382f;
  /* color: #fcba02; */
}


.status-bar li.active::before {
  border-color: #df382f;
  /* border-color: #fcba02; */
  font-family: FontAwesome;
  content: "\f00c";
}

.status-bar li.active + li:after {
  /* background-color: #fcba02; */
  background-color: #df382f;
  content:'';
}

/*to prevent the marging of different sections from collapsing*/
.status-bar:before,
.status-bar:after {
  display: table;
  content: "";
}

.status-bar:after {
  clear: both;
}

/* delivery Section */

.on-delivery {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  margin: 15px auto;
  text-align: center;
  display: table;
  /* background: rgba(68, 68, 68, 0.7); */
  color: #FD9C28;
  /* background-color: #FD9C28; */
  /* display:table-cell; */
/* border-radius: 8px;
-webkit-box-shadow: 0px 2px 8px 0px rgba(155, 155, 163, 1);
-moz-box-shadow: 0px 2px 8px 0px rgba(155, 155, 163, 1);
box-shadow: 0px 2px 8px 0px rgba(155, 155, 163, 1); */


}
/* }

/* Map */
/* .map-section { */
  /* height: 320px; */
  /* flex: 2; */
  /* display: inline-block; */
  /* display:table-cell; */
/* } */

/* .map {
  height: 250px;
  width: 300px;
  margin: auto;
  margin-bottom: 15px;
} */

  #map {
    height: 250px;
    width: 300px;
    /* margin: auto; */
    /* margin-bottom: 15px; */
      display:table-cell;

  }

  /* Time Section */

.customerTime-wrapper {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  width: 800px;
}

.time-left {
padding: 20px;
/* color: white; */
/* flex: 1;
*/
/* display: inline-block; */



}

.timer {
  margin: 0 auto;
  height: 400px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  padding-left: 10px;
  height: auto;
}


.eta {
  font-size: 50px;
  letter-spacing: 2.5px;
}

/* #minute {
  background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 80px;
  font-family: arial, helvetica;
  width: 600px;
  margin: 50px auto;
  text-align: center;
} */

#minute {
  font-family: "Monoton", Helvetica, sans-serif;
  letter-spacing: 5px;
  display: inline;
  font-size: 6vw;
  /* text-transform: uppercase; */
  /* color: red; */
  color: transparent;
		background: linear-gradient(7deg, #fcba02 50%, #ff4502 0);
		-webkit-background-clip: text;
}

.customerTime-Headline {
  display: inline-block;
  text-align: left;
  width: 500px;
  font-size: 25px;
  /* padding-left: 5px; */
  padding: 20px;
}

.queue {
  text-align: right;
  font-size: 16px;
}
.queue h2 {
  font-size: 15px;
}



/* Order details */
.order-details {
  height: auto;
  text-align: left;
  overflow: auto;

}

.order-list {
  list-style-type: none;
  padding-left: 30px;
}

.total-check {
  padding-left: 30px;
  /* padding-bottom: 15px; */
}

.order-details-headline {
  color: #ffffff;
  background-color: #DD3A36;
  border-radius: 5px;
  padding-left: 10px;
  background-image: linear-gradient(#DD3A36,rgb(248, 76, 73));
}

.order-details-headline h2 {
  padding: 10px;
  font-size: 20px;
  line-height: 24px;

}

.order-details-headline:hover {
  transform: translateY(-2px);
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgb(250, 250, 250);
  background-color: rgb(253, 61, 57);
  transition: 0.5s;
}

/* .order-details-headline:hover span:before {
  content: 'Show ';
} */



