/* reseting settings */
* {
  margin: 0;
  padding: 0;
  font-family: none;
  font-family: 'Poiret One', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0
}

/* button,
input,
textarea {
  border: 0;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
} */

button:active,
button:focus,
button:hover,
input:active,
input:focus,
input:hover,
textarea:active,
textarea:focus,
textarea:hover {
  /* outline: none; */
  cursor: pointer
}

li,
ol,
ul {
  list-style: none
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 280px;
  margin-left: 20px;
}

/* input[type=text] {
  font-size: 14px
} */

/* input::-webkit-input-placeholder {
  border: 1px solid black;
  padding: 3px
}

input:-ms-input-placeholder {
  border: 1px solid black;
  padding: 3px
}

input::-ms-input-placeholder {
  border: 1px solid black;
  padding: 3px
}

input::placeholder {
  border: 1px solid black;
  padding: 3px
} */


.icon-selected,
.on-delivery,
.on-delivery h1,
.orders-section,
.choose-route,
.direction-style {
  display: none
}

.orders-list,
.order-to-deliver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
}

.show {
  display: block
}

.before-delivery {
  margin: 0 auto;
  width: 800px;
  position: relative;
}

.show-employees {
  top: 100px;
}

.section-employees h1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.section-employees,
.delivery-guys {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3
}

.employee,
.order,
.order-selected {
/* .selected-order-content { */
  color: #fff;
  background-image: linear-gradient(#fd9c28, #f7b15d);
  border-radius: 8px;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  padding: 5px;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(155, 155, 163, 1);
  -moz-box-shadow: 0px 3px 12px 0px rgba(155, 155, 163, 1);
  box-shadow: 0px 3px 12px 0px rgba(155, 155, 163, 1);
}

.employee {
  text-align: center;
  width:200px;
  height: 100px;
}
.employee h4 {
  margin-top: 10px;
}

.order {
  text-align: left;
  padding-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  -ms-flex-preferred-size: 350px;
  flex-basis: 350px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(25% - 10px);
  /* max-width: 350px; */
  min-height: 170px;
  max-width: 250px;
}

.orders-section,
.on-delivery {
  height: 100%;
	width: 100%;
}

.on-delivery {
  background-color: #fff;
  /* align-items: left; */
}

.orders-list   {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
}

.selected-order-content  {
flex-direction: row;
flex-basis: calc(25% - 10px);
}


.on-delivery {
  display: flex;
  justify-content: flex-end;
  flex-direction: row !important;
  justify-content: space-between;
  margin-left: auto;
  width: 100%;
  flex-grow: 1;
  flex-direction: row-reverse;

}

.order-on-the-go {
  padding: 20px;
  display: flex;
  /* flex-grow: 1; */
  /* flex-shrink: 0; */
  /* flex-basis: calc(25% - 10px); */
  /* max-width: 500px; */
  justify-content: space-between;
  /* justify-content: space-around; */
   /* justify-content: flex-end; */
}
.order-on-the-go h1 {
  padding: 0 40px 0 70px;
  flex: 1;
  text-align: right;
}

.orders-to-deliver {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(25% - 10px);
  flex-direction: row !important;
  /* justify-content: space-between; */
}

.choose-route {
  flex: 1;
}

.order-selected {
  flex-basis: 250px;
  /* max-width: 350px; */
  padding: 15px;
  margin-bottom: 10px;
  max-height: 300px;
}

.order-selected h5 {
  font-weight: bold;
}

.employee:hover,
.order:hover {
  cursor: pointer;
  background: #ec6104 !important;
}


.employee:active,
.btn:active,
.order:active  {
  border: none;
  box-shadow: 0px 1px 10px 0px rgb(185, 185, 194);
  transform: translateY(3px)
}

.employee-login {
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 15px;
  margin-top:15px;
}

.headlines {
  margin-bottom: 20px;
}

  .btn {
  margin-left: 10px;
  background-color: rgb(95, 179, 247);
  color: white;
  font-weight: bold;
  border: 1px solid black;

}

.btn:hover {
  background-color: rgb(95, 179, 247, 0.6);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(191,187,191,1);
  -moz-box-shadow: 0px 0px 10px 4px rgba(191,187,191,1);
  box-shadow: 0px 0px 10px 4px rgba(191,187,191,1);
}

.order-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* -webkit-box-pack: start; */
  /* -ms-flex-pack: start; */
  justify-content: flex-end;
  /* -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center */
}

.order-header .icon-selected,
.order-header .select-to-deliver {
  margin: 0 5px
}
.select-to-deliver, .icon-selected {
  padding: 5px;
  background: none;
  color: #fff;
border-radius: 50%;
width: 40px;
height: 40px;
}

.order-number {
  margin-top: 5px;
  font-weight: bold;

}

.headline-segment {
  font-weight: bold;
  color: #df382f;
  border: 1px solid black;
  padding: 3px;
}

#ready-to-deliver {
  display: block;
  margin: 0 auto
}

#map {
  height: 400px;
  width: 400px;
  float: right;
  margin-right: 50px;
}

#directions-panel {
  /* float: left; */
  margin-left: 50px;
  /* flex: 1; */
}
#directions-panel > div{
  margin-bottom: 15px;
}

.direction-style {
  margin-top: 50px;
  /* padding: 0 50px; */
  display: flex;
  /* justify-content: space-between; */
}

/* .right-side {
  text-align: center;
} */

.msg {
  color: red;
}
