/**** general ****/

* {
    box-sizing: border-box;
}

body {
    padding: 10px;
}

#map, #direction-canvas {
    height: 500px;
    width: 500px;
}

.on-delivery, .employee-login, .orders-list, .fa-check {
    display: none;
}

.show {
    display: block;
}

/* restaurant home page */

.res-logo {
    height: 120px;
    width: 120px;
}


/* Aligning the dish & amount in the form/ */
.order-menu {
    width: 40%;
}

.dish {
    display: inline-block;
}

.amount {
    display: inline-block;
    width:40%;
}

.order-form,
.modal {
    display: none;
}

/* modal (popup window) */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top:0 ;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    height: 40%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2)
}



/* body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('img/background5.jpg');
    background: url('img/background5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 100%;
    height: 100%;
    color: #fff;
}

.center-4-cubes {
    width: 50%;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
}

.side-4-cubes {
    position: relative;
    top: 10%;
    width: 20%;
}

.searchChoice {
    width: 400px;
    height: 200px;
    font-size: 35px;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    font-family: 'Courgette', cursive;
    display: flex;
    justify-content: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 2px 43px -1px rgba(51, 49, 51, 0.75);
    -moz-box-shadow: 0px 2px 43px -1px rgba(51, 49, 51, 0.75);
    box-shadow: 0px 2px 43px -1px rgba(51, 49, 51, 0.75);
    margin: 10px 0;
    transition: background-color 1000ms;
}

.searchChoice:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7)

} */

/*
.arrow_box {
	position: relative;
	background: #c8d5d4;
}
.arrow_box:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(200, 213, 212, 0);
	border-right-color: #c8d5d4;
	border-width: 30px;
	margin-top: -30px;
} */