body {
    padding: 30px;

    background-image: url("../img/orders/background-orders.jpg");
}
table, th, td {
    border: 1px solid black;
}

.search-order {
    border-radius: 20px;
    background-color: darkorange;
}

.modal-content {
    border-radius: 20px;
    background-color: darkorange;
}