body {
    background-image: url('../img/restaurant/rsz_logo_white.png' );
    background-repeat: no-repeat;
    background-size: auto;
    /* background-position: center center; */
}

.reset-button {
    position: absolute;
    left: 3%;
}

.pac-container {
    z-index: 1051 !important;
}