@mixin mQ($args) {
  @media screen and (max-width:$args) {
    @content;
  }
}

@mixin back-image {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url('../img/1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top left;
}

@mixin another-page-button {
  height: 40px;
  width: 170px;
  letter-spacing: 1.5px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
   color: white;
  padding-left: 13px;
  border: none;
  background-image: linear-gradient($color-red, rgb(248, 76, 73));
  &:hover,
  &:active {
    background-color: rgb(236, 37, 33);
    border: none;
  }
}

@mixin arrow-on-hover {
  opacity: 0;
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    background-color: rgb(253, 175, 80);
  }
  &:active {
    border: none;
    box-shadow: 0px 1px 10px 0px rgb(185, 185, 194);
  }
}

@mixin employee-order-cube {
  color: #fff;
  background-image: linear-gradient($color-blue, #40c0c2);
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  padding: 5px;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(155, 155, 163, 1);
  -moz-box-shadow: 0px 3px 12px 0px rgba(155, 155, 163, 1);
  box-shadow: 0px 3px 12px 0px rgba(155, 155, 163, 1);
  &:hover {
    cursor: pointer;
    background: #59d7da !important;
  }
}
