// Resets margins and paddings for headers, ul, ol and p
html, body, ul, ol, li, form {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  appearance: none;
}

ol,
ul,
li { list-style: none; }

// Use border-box for everything
html {
  box-sizing: border-box;
}

*,
*:before,
*:after { box-sizing: inherit; }

// Set Image and Wrapper properties
img {
  max-width: 100%;
  border: 0;
}
