html,
body {
  height: 100%;
  width: 100%;
}

#deliver-background {
  @include back-image;
  padding: 0;
}

.before-delivery {
  margin: 0 auto;
  width: 800px;
  position: relative;
}

/* select employees*/

.select-employee h1 {
  color: #fff;
  font-size: 40px;
  font-family: 'Chewy', cursive;
  margin-top: 100px;
}

.employees hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 370px;
  margin-left: 20px;
}

.employeesList-wrapper {
  margin-top: 100px;
}

.employeesList {
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.employee {
  @include employee-order-cube;
  text-align: center;
  border-radius: 5px;
  height: 100px;
  h4 {
    margin: 20px 0;
    font-family: 'Chewy', cursive;
    font-size: 20px;
    color: #ddd;
  }
}

/* select order to deliver */

.employee-selected {
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 15px;
  margin-top: 15px;
  color: #fff;
}

#change-employee,
#ready-to-deliver, #select-Destination, #floating-button, .deliverd-complete {
  margin: 10px 0;
  color: #fff;
  border-radius: 5px;
  background-color: $color-red;
  padding: 10px;
  border: none;
  &:hover {
    background-color: rgb(226, 93, 90);
  }
}

#ready-to-deliver {
  display: block;
  margin: 0 auto;
}

.icon-selected {
  display: none;
}

.orders-list, .orders-deliver-list, .orders-map-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-wrap: wrap;
}

.order {
  text-align: left;
  padding: 10px;
  margin: 10px;
  -ms-flex-preferred-size: 350px;
  flex-basis: calc(25% - 10px);
  min-height: 170px;
  max-width: 250px;
  background-image: linear-gradient($color-blue, #40c0c2);
  box-shadow: 0px 3px 12px 0px rgba(155, 155, 163, 1);
  &:hover {
    cursor: pointer;
    background: #59d7da;
  }
  * {
    margin-bottom: 5px;
  }
}

.order-header {
  display: flex;
  justify-content: flex-end;
  .icon-selected,
  .select-to-deliver {
    margin: 0 5px;
    padding: 5px;
    background: none;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

.order-number {
  margin-top: 5px;
  font-weight: bold;
}

.order .address {
  color:#fff;
}

/* select destination */

.select-destination-section {
  color:#000;
  text-align: center;
  margin-top: 30px;
  h2 {
    color: $color-red;
  }
  * {
    margin: 15px 0;
  }
  select {
    padding: 8px;
  }
}

.select-destination-div {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-shadow: 0px 3px 12px 0px rgba(155, 155, 163, 1);
  -moz-box-shadow: 0px 3px 12px 0px rgba(155, 155, 163, 1);
  box-shadow: 0px 3px 12px 0px rgba(155, 155, 163, 1);
  background-color: rgba(255, 255, 255, 0.8);
  p {
    font-size: 20px;
  }
}

.order-selected {
  text-align: left;
  padding: 10px;
  margin: 10px;
  max-height: 200px;
  background-image: linear-gradient($color-blue, #40c0c2);
  box-shadow: 0px 3px 12px 0px rgba(155, 155, 163, 1);
  h3 {
    color: #fff;
    i {
      margin-left: 5px;
    }
  }
  .selected-order-content {
    color: #000;
    * {
      margin: 8px 0;
    }
  }
}

/* on the way to deliver */

.on-the-way-section {
  width: 100%;
  background: #fff;
  min-height: 100vh;
  position: relative;
}


#map {
  height: 100%;
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
}

#directions-panel {
  display: inline-block;
  width: 30%;
  padding:20px 30px;
  background: #fff;
  div {
    margin-bottom: 15px;
  }
  .headline-segment {
    font-weight: bold;
    color: #df382f;
    border: 1px solid black;
    padding: 3px;
    margin-bottom: 5px;
  }
}

#floating-button {
  position: absolute;
  top: 10px;
  left: 35%;
  z-index: 6;
}

.orders-map-list {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  width: 70%;
  height: 100%;
  padding-top: 80px;
}

// general
.select-orders .msg {
  color: red;
  text-align: center;
}

.show {
  display: block;
}

.select-orders,
.select-destination-section,
.on-the-way-section {
  display: none;
}