* {
  font-family: $font-poirer;
  font-weight: bold;
}

#rest-background {
  @include back-image;
}
// for the autocomplete to be above the modal
.pac-container {
  z-index: 1051 !important;
}

/* page cubes and rest name*/

h1.restaurant-name {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 60px;
  letter-spacing: 2px;
  color: #fff;
  font-family: 'Chewy', cursive;
}

.order-cubes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  padding:0 150px;
  @include mQ(1050px) {
    flex-direction: column;
    align-content: center;
  }
}

.new-order, .update-order {
  color: #fff;
  border-radius: 5px;
  font-weight: 800;
  font-size: 30px;
  width: 300px;
  height: 200px;
  box-shadow: 0px 2px 8px 0px rgba(155, 155, 163, 1);
  transition: transform .5s;
  &:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.5s;
    box-shadow: 0px 3px 10px 0px rgba(155, 155, 163, 1);
    color: #000;
  }
  &:active {
    box-shadow: 0px 1px 10px 0px rgb(185, 185, 194);
    transform: translateY(3px);
  }
  @include mQ(1050px) {
    margin: 10px 0;
  }
}

.new-order {
  background-image: linear-gradient($color-orange, #f7b15d);
  &:hover {
    background-image: linear-gradient(#ff8c00, #ff9e28);
  }
}

.update-order {
  background-image: linear-gradient($color-red, rgb(248, 76, 73));
  &:hover {
    background-image: linear-gradient(rgb(236, 37, 33), rgb(250, 60, 57));
  }
}

/* modal form */
.reset-button {
  position: absolute;
  left: 3%;
}

label {
  color: black;
}

button {
  &:active, &:focus, &:hover {
    outline: none;
    cursor: pointer;
  }
}

input {
  &:placholder {
    padding-left: 3px;
    height: 20px;
  }
  &[type=text], &[type=number] {
    font-size: 18px;
  }
}

.modal {
  display: none;
}

.cDish {
  color: black !important;
  text-align: center !important;
}

.orderID {
  color: $color-red;
}

.modal-body h4 {
  text-align: center;
}

.modal-header {
  background-color: #FD9C28;
  color: #fff;
}

