// button, input[type='button'], input[type='reset'], input[type='submit'] {
//   background-color: $color-turquize;
//   color: #fff;
//   border: none;
//   border-radius: 5px;
//   font-size: $font-size-medium;
//   padding: 10px;
// }
input[type='text'] {
  font-size: $font-size-medium;
}

input::placeholder {
  border: 1px solid black;
  padding: 3px;
}